.TeacherContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.TextEditor{
    width: 55vw;
    height: 100vh;
}
.RContainer{
    display: flex;
    flex-direction: column;
    width: 54vw;
    height: 100vh;
    margin-left: 1px;
}
.Blackboard{
    width:100%;
    height: 70%;
}
.Chatbox{
    width:100%;
    height: 30%;
}