#container{
    width:300px;
    height:100%;
    margin:0 auto;
    margin-top:40px;

}

#credentials{
    background-color: black;
    color:white;
    height:300px;
    padding:20px;
    font-family: monospace;
    font-size:20px;
    border-radius: 8px 8px 8px 8px;
}

#credentials>select{
    height:30px;
}